---
import Contact from "@/components/Contact.astro";
import Container from "@/components/Container";
import Experience from "@/components/Experience.astro";
import Footer from "@/components/Footer.astro";
import Projects from "@/components/Projects.astro";
import Skills from "@/components/Skills.astro";
import Studies from "@/components/Studies.astro";
import UserPresentation from "@/components/UserPresentation.astro";
import Layout from "../layouts/Layout.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- <Navigation /> -->
  <main class="relative min-h-screen">
    <!-- <div
      class="absolute h-[420px] w-screen mx-auto -z-10 bg-gradient-to-b from-cyan-50 blur-md via-blue-200 to-white"
    >
    </div> -->
    <Container>
      <UserPresentation />
      <div class="relative mt-10 flex flex-col gap-y-14 sm:gap-y-28">
        <!-- <div
          class="absolute top-0 -left-16 -translate-x-1/2 w-[2px] bg-gradient-to-t from-blue-600 to-blue-400 h-full rounded-full shadow-white shadow-xl"
        >
        </div> -->
        <Experience />
        <Projects />
        <Skills />
        <Studies />
        <!-- <Contact /> -->
        <Footer />
      </div>
    </Container>
  </main>
</Layout>
