---
import UserPresentation from "@/components/UserPresentation.astro";
import Layout from "../layouts/Layout.astro";
import Container from "@/components/Container";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import Studies from "@/components/Studies.astro";
import Footer from "@/components/Footer.astro";
import Navigation from "@/components/Navigation.astro";
import Skills from "@/components/Skills.astro";
import Contact from "@/components/Contact.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- <Navigation /> -->
  <div class="relative bg-white">
    <!-- <div
      class="absolute h-[420px] w-screen mx-auto -z-10 bg-gradient-to-b from-cyan-50 blur-md via-blue-200 to-white"
    >
    </div> -->
    <Container>
      <UserPresentation />
      <div class="relative mt-10 flex flex-col gap-y-10">
        <!-- <div
          class="absolute top-0 -left-16 -translate-x-1/2 w-[2px] bg-gradient-to-t from-blue-600 to-blue-400 h-full rounded-full shadow-white shadow-xl"
        >
        </div> -->
        <div>
          <p class="text-pretty">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam,
            dolore a fuga numquam accusantium eos, quidem atque tempora tenetur
            ipsa ut? Alias eligendi corrupti nesciunt suscipit magnam dicta
            sapiente qui?
          </p>
        </div>
        <Experience />
        <Projects />
        <Skills />
        <Studies />
        <Contact />
      </div>
      <div class="mt-8">
        <Footer />
      </div>
    </Container>
  </div>
</Layout>
