---
import Layout from "../layouts/NewLayout.astro";
import { NewPresentation } from "@/components/NewPresentation";
import { NewHero } from "@/components/NewHero";
import { NewExperience } from "@/components/NewExperience";
import { NewProjects } from "@/components/NewProjects";
import { NewSkills } from "@/components/NewSkills";
import { NewStudies } from "@/components/NewStudies";
import { NewFooter } from "@/components/NewFooter";
---

<Layout>
  <main class="relative">
    <NewPresentation client:load />
    <NewHero client:load />
    <NewExperience client:load />
    <NewProjects client:load />
    <NewSkills client:load />
    <NewStudies client:load />
    <NewFooter client:load />
  </main>
</Layout>
