---
import { Label } from "./ui/label";
import { Input } from "./ui/input";
import { Textarea } from "./ui/textarea";
import { Button } from "./ui/button";
---

<section
  class="animate-in delay-500 duration-500 fade-in slide-in-from-bottom-4 fill-mode-backwards"
>
  <h2 class="text-2xl font-semibold mb-4">Contáctame</h2>
  <div
    class="bg-white px-6 py-8 border border-slate-300/80 dark:bg-black dark:border-slate-900/60 rounded"
  >
    <div
      id="success-alert"
      class="w-full rounded hidden bg-green-600 mb-6 text-white py-4 px-6"
    >
      <p class="text-center text-sm">
        Mensaje enviado correctamente. ¡Gracias por ponerte en contacto conmigo!
      </p>
    </div>
    <div
      id="error-alert"
      class="w-full rounded hidden bg-red-600 mb-6 text-white py-4 px-6"
    >
      <p class="text-center text-sm">
        Ha ocurrido un error al enviar el mensaje. Por favor, inténtalo de nuevo
        más tarde.
      </p>
    </div>
    <form
      id="contact-form"
      class="grid grid-cols-1 sm:grid-cols-2 sm:gap-10 gap-8"
    >
      <div class="flex flex-col gap-2">
        <Label htmlFor="name">Nombre:</Label>
        <Input
          id="name"
          placeholder="John Doe"
          className="w-full dark:bg-black placeholder:text-slate-700 dark:border-slate-900/60"
          name="name"
        />
      </div>
      <div class="flex flex-col gap-2">
        <Label htmlFor="email">Correo:</Label>
        <Input
          id="email"
          placeholder="john@company.com"
          className="w-full dark:bg-black placeholder:text-slate-700 dark:border-slate-900/60"
          type="email"
          name="email"
        />
      </div>
      <div class="flex flex-col gap-2 sm:col-span-2">
        <Label htmlFor="message">Mensaje:</Label>
        <Textarea
          id="message"
          rows={8}
          placeholder="Escribe tu mensaje aquí..."
          name="message"
          className="dark:bg-black placeholder:text-slate-700 dark:border-slate-900/60"
        />
      </div>
      <div class="flex justify-end sm:col-span-2">
        <Button type="submit">Enviar mensaje</Button>
      </div>
    </form>
  </div>
</section>

<script>
  const contactForm = document.getElementById(
    "contact-form"
  ) as HTMLFormElement;

  contactForm.addEventListener("submit", (event) => {
    event.preventDefault();
    const formData = new FormData(event.currentTarget as HTMLFormElement);
    const name = formData.get("name");
    const email = formData.get("email");
    const message = formData.get("message");
    const data = {
      name,
      email,
      message,
    };
    const submitButton = contactForm.querySelector(
      "button[type=submit]"
    ) as HTMLButtonElement;
    submitButton.setAttribute("disabled", "true");
    submitButton.textContent = "Enviando mensaje...";

    fetch("https://services-el28.onrender.com/contact", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then(() => {
        contactForm.reset();
        const successAlert = document.getElementById("success-alert");
        successAlert?.classList.remove("hidden");
        setTimeout(() => {
          successAlert?.classList.add("hidden");
        }, 5000);
      })
      .catch((error) => {
        const errorAlert = document.getElementById("error-alert");
        errorAlert?.classList.remove("hidden");
        setTimeout(() => {
          errorAlert?.classList.add("hidden");
        }, 5000);
      })
      .finally(() => {
        submitButton.removeAttribute("disabled");
        submitButton.textContent = "Enviar mensaje";
      });
  });
</script>
