---
import { Label } from "./ui/label";
import { Input } from "./ui/input";
import { Textarea } from "./ui/textarea";
import { Button } from "./ui/button";
---

<section>
  <h2 class="text-2xl font-semibold mb-4">Contáctame</h2>
  <div class="bg-white px-6 py-8 border border-slate-300/80 rounded-2xl">
    <form class="grid grid-cols-2 gap-10">
      <div class="flex flex-col gap-2">
        <Label htmlFor="name">Nombre:</Label>
        <Input id="name" placeholder="John Doe" className="w-full" />
      </div>
      <div class="flex flex-col gap-2">
        <Label htmlFor="email">Correo:</Label>
        <Input id="email" placeholder="john@company.com" className="w-full" />
      </div>
      <div class="flex flex-col gap-2 col-span-2">
        <Label htmlFor="message">Mensaje:</Label>
        <Textarea
          id="message"
          rows={8}
          placeholder="Escribe tu mensaje aquí..."
          className="w-full p-2 border border-slate-300/80 rounded-md"
        />
      </div>
      <div class="flex justify-end col-span-2">
        <Button type="submit">Enviar mensaje</Button>
      </div>
    </form>
  </div>
</section>
