---
import { ArrowUpRight } from "lucide-react";
---

<section
  class="animate-in delay-100 duration-500 fade-in slide-in-from-bottom-4 fill-mode-backwards"
>
  <h2 class="text-2xl font-semibold mb-4">
    Experiencia <span class="">laboral</span>
  </h2>
  <div
    class="bg-white dark:bg-neutral-900 px-6 py-8 border border-slate-300/80 dark:border-neutral-700/60 rounded"
  >
    <!-- Roca Company Solutions Experience -->
    <article class="flex sm:gap-4 sm:flex-row flex-col items-start mb-8">
      <div class="flex flex-col gap-2">
        <div
          class="font-light inline-flex sm:flex-row flex-col gap-4 sm:items-center"
        >
          <div class="flex gap-2 items-center">
            <h4 class="group">
              <a
                class="inline-flex items-center gap-1 hover:underline"
                href="https://rocacompanysolution.wordpress.com/"
                target="_blank"
                >Roca Company Solutions <ArrowUpRight
                  className="group-hover:-translate-y-0.5 transition-transform"
                  size={12}
                /></a
              >
            </h4>
          </div>
          <span class="text-neutral-700 dark:text-neutral-300"
            >Abril 2025 - Julio 2025</span
          >
        </div>
        <div>
          <p class="inline-flex gap-4 items-center">
            <span class="font-medium">Desarrollador web frontend</span>
          </p>
        </div>
        <div>
          <ul
            class="flex flex-col gap-y-6 text-neutral-700 [&>li]:text-pretty dark:text-neutral-300 font-thin"
          >
            <li>
              - Diseño, arquitectura y desarrollo de todo el frontend del primer
              sistema informático de la empresa, utilizando React con Vite,
              Shadcn UI y librerías de TanStack (Query, Table, Form).
            </li>
            <li>
              - Construcción de un sistema escalable capaz de renderizar gran
              cantidad de información en tablas y manejarla de manera eficiente
              para cualquier tipo de dispositivo.
            </li>
            <li>
              - Migración exitosa de inmensas hojas de cálculo en Google
              Spreadsheets a un sistema unificado que optimiza el flujo de
              trabajo empresarial.
            </li>
            <li>
              - Implementación de funcionalidades avanzadas para el manejo de
              grandes volúmenes de datos, procesos de facturación,
              almacenamiento y previsualización de archivos.
            </li>
          </ul>
        </div>
      </div>
    </article>

    <!-- Dentalrobot Experience -->
    <article class="flex sm:gap-4 sm:flex-row flex-col items-start">
      <div class="flex flex-col gap-2">
        <div
          class="font-light inline-flex sm:flex-row flex-col gap-4 sm:items-center"
        >
          <div class="flex gap-2 items-center">
            <h4 class="group">
              <a
                class="inline-flex items-center gap-1 hover:underline"
                href="https://www.dentalrobot.ai"
                target="_blank"
                >Dentalrobot.ai <ArrowUpRight
                  className="group-hover:-translate-y-0.5 transition-transform"
                  size={12}
                /></a
              >
            </h4>
          </div>
          <span class="text-neutral-700 dark:text-neutral-300"
            >Octubre 2022 - Presente <span>(+2 años)</span></span
          >
        </div>
        <div>
          <p class="inline-flex gap-4 items-center">
            <span class="font-medium">Desarrollador web full stack y RPA</span>
          </p>
        </div>
        <div>
          <ul
            class="flex flex-col gap-y-6 text-neutral-700 [&>li]:text-pretty dark:text-neutral-300 font-thin"
          >
            <li>
              - Implementación de un editor de formularios basados en tablas y
              bookmarks, exportables a MS Word y Google Docs, aumentando la
              eficiencia de las auditorías y reduciendo significativamente el
              uso de archivos .docx.
            </li>
            <li>
              - Lider de desarrollo para la paralelización de ejecuciones de
              robots RPA, esta característica redujo drásticamente el tiempo de
              ejecución de los robots y el uso de recursos.
            </li>
            <li>
              - Desarrollador de robots RPA para la automatización de
              verificaciones de pacientes, proponiendo y creando librerías que
              mejoraron el experiencia de desarrollo del equipo RPA.
            </li>
            <li>
              - Mantenimiento y desarrollo de nuevas características para el
              sistema principal de la empresa en angular, brindando a todos los
              equipos de la empresa una interfaz cómoda y rápida para trabajar,
              acelerando y centralizando los flujos de trabajo de cada equipo.
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</section>
