---
import { ArrowUpRight } from "lucide-react";
import { Badge } from "./ui/badge";
---

<section>
  <h2 class="text-2xl font-semibold mb-4">
    Experiencia <span class="">laboral</span>
  </h2>
  <div
    class="bg-white dark:bg-black px-6 py-8 border border-slate-300/80 dark:border-slate-800 rounded-2xl"
  >
    <article class="flex sm:gap-4 sm:flex-row flex-col items-start">
      <div class="flex flex-col items-center gap-4 h-full">
        <div class="hidden sm:block">
          <img
            src="/dentalrobot_logo.jpg"
            alt="Dentalrobot logo"
            class="aspect-square max-w-[40px] h-auto rounded-xl"
          />
        </div>
        <div class="flex-1 w-[1px] rounded-full bg-slate-400"></div>
      </div>
      <div class="flex flex-col gap-2">
        <div
          class="font-light inline-flex sm:flex-row flex-col gap-4 sm:items-center"
        >
          <div class="flex gap-2 items-center">
            <img
              src="/dentalrobot_logo.jpg"
              alt="Dentalrobot logo"
              class="block sm:hidden aspect-square max-w-[40px] h-auto rounded-xl"
            />
            <h4 class="group">
              <a
                class="inline-flex items-center gap-1 hover:underline"
                href="https://www.dentalrobot.ai"
                target="_blank"
                >Dentalrobot.ai <ArrowUpRight
                  className="group-hover:-translate-y-0.5 transition-transform"
                  size={12}
                /></a
              >
            </h4>
          </div>
          <span class="text-muted-foreground"
            >Octubre 2022 - Presente <span>(+2 años)</span></span
          >
        </div>
        <div>
          <p class="inline-flex gap-4 items-center">
            <span class="font-medium">Desarrollador web full stack y RPA</span>
          </p>
        </div>
        <div>
          <ul
            class="flex flex-col gap-4 text-muted-foreground [&>li]:text-pretty font-light"
          >
            <li>
              - Implementación de un editor de formularios basados en tablas y
              bookmarks, exportables a MS Word y Google Docs, aumentando la
              eficiencia de las auditorías y reduciendo significativamente el
              uso de archivos .docx.
              <div>
                <Badge
                  variant={"outline"}
                  className="font-medium bg-white dark:bg-black"
                >
                  Angular
                </Badge>
                <Badge
                  variant={"outline"}
                  className="font-medium bg-white dark:bg-black"
                >
                  TypeScript
                </Badge>
                <Badge
                  variant={"outline"}
                  className="font-medium bg-white dark:bg-black"
                >
                  Express
                </Badge>
                <Badge
                  variant={"outline"}
                  className="font-medium bg-white dark:bg-black"
                >
                  Docx.js
                </Badge>
              </div>
            </li>
            <li>
              - Lider de desarrollo para la paralelización de ejecuciones de
              robots RPA, esta característica redujo drásticamente el tiempo de
              ejecución de los robots y el uso de recursos.
              <div>
                <Badge
                  variant={"outline"}
                  className="font-medium bg-white dark:bg-black"
                >
                  Python
                </Badge>
                <Badge
                  variant={"outline"}
                  className="font-medium bg-white dark:bg-black"
                >
                  Selenium
                </Badge>
              </div>
            </li>
            <li>
              - Desarrollador de robots RPA para la automatización de
              verificaciones de pacientes, proponiendo y creando librerías que
              mejoraron el experiencia de desarrollo del equipo RPA.
              <div>
                <Badge
                  variant={"outline"}
                  className="font-medium bg-white dark:bg-black"
                >
                  JavaScript
                </Badge>
                <Badge
                  variant={"outline"}
                  className="font-medium bg-white dark:bg-black"
                >
                  Python
                </Badge>
                <Badge
                  variant={"outline"}
                  className="font-medium bg-white dark:bg-black"
                >
                  Rocketbot
                </Badge>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</section>
