---
import Container from "./Container";
---

<footer
  class="animate-in delay-0 duration-500 fade-in slide-in-from-bottom-4 fill-mode-backwards border-t w-full py-6 shadow-sm border-slate-300/80 dark:border-neutral-700/60"
>
  <Container
    className="flex sm:flex-row flex-col gap-4 justify-between items-center"
  >
    <div>
      <p class="text-neutral-700 dark:text-neutral-300 font-light">
        fabianmontoya2802@gmail.com
      </p>
    </div>
    <div>
      <p>© {new Date().getFullYear()} Fabian Montoya</p>
    </div>
  </Container>
</footer>
