<div class="relative h-[200px] bg-white group">
  <article
    class="rounded-2xl p-4 group-hover:bg-blue-50 group-hover:border-blue-500 bg-white border-primary z-20 relative h-full border border-slate-300 transition-all group-hover:-translate-y-3"
  >
    <slot />
  </article>
  <div class="absolute inset-0 bg-blue-500 rounded-2xl"></div>
</div>
