---
import { ProjectViewer } from "./ProjectViewer";
import { Project } from "./project";
import { PROJECTS } from "../constants/projects";
---

<section>
  <h2 class="text-2xl font-semibold mb-4">
    <span>Proyectos</span>
    destacados
  </h2>
  <div class="mb-6 sm:block hidden">
    <ProjectViewer client:load />
  </div>
  <div class="grid sm:grid-cols-3 grid-cols-1 gap-4 sm:gap-y-8">
    {PROJECTS.map((project) => <Project client:load project={project} />)}
  </div>
</section>
