<div class="relative h-[220px] group">
  <article
    class="rounded-2xl group-hover:bg-blue-100 group-hover:border-2 group-hover:border-blue-500 bg-white border-primary z-20 relative h-full border border-slate-300 transition-all group-hover:-translate-y-3"
  >
  </article>
  <div class="absolute inset-0 bg-blue-500 rounded-2xl"></div>
</div>
