---
import ProjectCard from "./ProjectCard.astro";
---

<section>
  <h2 class="text-3xl font-semibold mb-4">
    <span>Proyectos</span>
    destacados
  </h2>
  <div class="grid grid-cols-3 gap-4">
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
  </div>
</section>
