---
import Skill from "./Skill.astro";
import AstroIcon from "../assets/icons/astro.tsx";
import ReactIcon from "../assets/icons/react.tsx";
import AngularIcon from "../assets/icons/angular.tsx";
import NextJsIcon from "../assets/icons/nextjs.tsx";
import TypeScriptIcon from "../assets/icons/typescript.tsx";
import PythonIcon from "../assets/icons/python.tsx";
---

<section>
  <h2 class="text-3xl font-semibold mb-4">
    <span class="text-2xl font-semibold mb-4">Habilidades</span>
  </h2>
  <div class="flex gap-4">
    <Skill skill={{ color: "#000", name: "Astro" }}>
      <AstroIcon slot="icon" className="size-8" />
    </Skill>
    <Skill skill={{ color: "#00D8FF", name: "React" }}>
      <ReactIcon slot="icon" className="size-8" />
    </Skill>
    <Skill skill={{ color: "#c3002f", name: "Angular" }}>
      <AngularIcon slot="icon" className="size-8" />
    </Skill>
    <Skill skill={{ color: "#000", name: "Next.js" }}>
      <NextJsIcon slot="icon" className="size-8" />
    </Skill>
    <Skill skill={{ color: "#3178c6", name: "TypeScript" }}>
      <TypeScriptIcon slot="icon" className="size-8" />
    </Skill>
    <Skill skill={{ color: "#4584b6", name: "Python" }}>
      <PythonIcon slot="icon" className="size-8" />
    </Skill>
  </div>
</section>
