<section
  class="animate-in delay-500 duration-500 fade-in slide-in-from-bottom-4 fill-mode-backwards"
>
  <h2 class="text-2xl font-semibold mb-4">Estudios y certificados</h2>
  <div>
    <article class="flex gap-4 mb-4 items-center">
      <div>
        <img
          src="/unan-leon-logo.png"
          alt="Logo de la UNAN León"
          class="object-contain max-w-16 aspect-square rounded-xl"
        />
      </div>
      <div>
        <header class="inline-flex gap-2 items-center">
          <h5 class="font-medium">Ingeniería en Sistemas de Información</h5>
          <span class="text-muted-foreground">2019 - 2024</span>
        </header>
        <div>
          <p class="text-muted-foreground">
            Universidad Nacional Autónoma de Nicaragua - León (UNAN - LEÓN)
          </p>
        </div>
      </div>
    </article>
    <div class="h-[1px] w-full bg-slate-300/80 dark:bg-slate-800"></div>
    <article class="flex gap-4 my-4 items-center">
      <div>
        <img
          src="/uni-logo.png"
          alt="Logo de la UNI"
          class="object-contain max-w-16 aspect-square rounded-xl"
        />
      </div>
      <div>
        <header class="inline-flex gap-2 items-center">
          <h5 class="font-medium">
            Curso Internacional de Hacking Ético y Ciberseguridad
          </h5>
          <span class="text-muted-foreground">2024</span>
        </header>
        <div>
          <p class="text-muted-foreground">
            Posgrado Universidad Nacional de Ingeniería
          </p>
        </div>
      </div>
    </article>
    <div class="h-[1px] w-full bg-slate-300/80 dark:bg-slate-800"></div>
    <article class="flex gap-4 my-4 items-center">
      <div>
        <img
          src="/inatec-logo.jpg"
          alt="Logo del instituto nacional tecnológico"
          class="object-contain max-w-16 aspect-square rounded-xl"
        />
      </div>
      <div>
        <header class="inline-flex gap-2 items-center">
          <h5 class="font-medium">Técnico en Contabilidad General</h5>
          <span class="text-muted-foreground">2024</span>
        </header>
        <div>
          <p class="text-muted-foreground">Instituto Nacional Tecnológico</p>
        </div>
      </div>
    </article>
    <div class="h-[1px] w-full bg-slate-300/80 dark:bg-slate-800"></div>
  </div>
</section>
