---
import GithubIcon from "../assets/icons/github";
import TwitterIcon from "../assets/icons/twitter";
import { NavLink } from "./nav-link";
import { Avatar } from "./ui/avatar";
import { EmailDropdown } from "./email-dropdown";
import { BadgeSunshine } from "./ui/badge-sunshine";
import { ThemeSwitch } from "./theme-switch";
---

<article
  class="py-6 flex flex-col gap-y-4 border-b bg-transparent border-slate-300/80"
>
  <div class="flex items-center justify-between">
    <div class="flex gap-4 items-center">
      <div class="flex items-center space-x-2">
        <div>
          <Avatar className="size-12 bg-slate-500/80" />
        </div>
        <div>
          <div class="flex gap-2 items-center">
            <h1 class="font-medium text-lg">Fabian Montoya</h1>
            <BadgeSunshine> Disponible </BadgeSunshine>
          </div>
          <p class="text-slate-700 dark:text-slate-300">
            Ingeniero de Sistemas Full Stack.
          </p>
        </div>
      </div>
      <ThemeSwitch client:load />
    </div>
    <div class="h-full flex flex-col items-end">
      <div class="flex gap-2">
        <NavLink href="https://x.com/fabmntp" target="_blank">
          <TwitterIcon className="size-4" />
        </NavLink>
        <NavLink href="https://github.com/fabmnt" target="_blank">
          <GithubIcon className="size-4" />
        </NavLink>
        <EmailDropdown client:load />
      </div>
    </div>
  </div>
  <div>
    <p class="text-pretty text-slate-700 dark:text-slate-300">
      Dise침o, desarrollo e implemento soluciones inform치ticas que permiten a
      empresas evolucionar su forma de conectar con sus usuarios. Desde
      elegantes p치ginas comerciales, hasta complejos sistemas de inventario y
      facturaci칩n.
    </p>
  </div>
</article>
